.callbackmodal.callbackmodal_js
	.callbackmodal__container 
		button.clousbtn.clousbtnjs 
			include ../../img/icons/clousicon.svg
		h3 ПРЕИМУЩЕСТВА G-SYNC
		form(action="/")
			label(for="name")
			input(type="text" placeholder="Имя" id="name")
			label(for="mail")
			input(type="email" placeholder="Mail" id="mail")
			label(for="send")
			input(type="submit", value="КУПИТЬ" id="send")