section.main
    .main__container 
        .main__title 
            h1 ПРЕИМУЩЕСТВА G-SYNC
            p Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.
        .main__grid 
            .main__item 
                include ../../../../img/hdr_display.svg
                h4 HDR 
                    span DISPLAY
                p Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.
            .main__item 
                include ../../../../img/input_lag.svg
                h4 INPUT 
                    span LAG
                p Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.
            .main__item 
                include ../../../../img/high_refresh_rate.svg
                h4 HIGH REFRESH 
                    span RATE
                p NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.
            .main__item 
                include ../../../../img/wide_color_gamut.svg
                h4 WIDE COLOR 
                    span GAMUT
                p Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.
        button.pay.paybtn_js КУПИТЬ
