header.header
	.header__container 
		.header__left 
			a.logo(href="img/logo.svg")
			ul 
				li 
					a(href="") Продукты
				li 
					a(href="") Технологии
				li 
					a(href="") Experience
		.header__right 
			a(href="")
				include ../../img/icons/tviter.svg
			a(href="")
				include ../../img/icons/insta.svg
		.header__mobile
			ul 
				li 
					a(href="") Продукты
				li 
					a(href="") Технологии
				li 
					a(href="") Experience
			.header__right 
				a(href="")
					include ../../img/icons/tviter.svg
				a(href="")
					include ../../img/icons/insta.svg